.landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #090909;
    filter: brightness(150%);
  background-image: url('/images/VBALCK.png');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.landing-page > * {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  /* 1. Высота блока только для фона */
  .landing-page::before {
    content: '';
    filter: brightness(150%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;                /* фон только на первом экране */
    min-height: 470px;            /* минимальная высота фона */
    background-image: url('/images/vid-lodki-na-vode.jpg.JPG');
    background-size: cover;       /* сохраняет пропорции */
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
  }

  /* 2. Чтобы контент был поверх фона */
  .landing-page > * {
    position: relative;
    z-index: 1;
  }

  /* 3. Чтобы фон показался */
  .landing-page {
    background-image: none;
    position: relative;
  }
}

@media (max-width: 480px) {
  .landing-page {
    min-height: 100vh;
  }
  
  .landing-page::before {
    background-size: 110% 100%;
  }
}

@media (max-width: 393px) {
  .landing-page::before {
    background-size: 110% 100%;
  }
}

