.main-page {
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main-page-container {
  width: 100%;
  height: 100vh;
  background-color: #090909;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  box-sizing: border-box;
}

.main-page-logo {
  width: 150px;
  height: 38px;
  object-fit: contain;
  position: absolute;
  top: 29px;
  right: 32px;
  z-index: 10;
}

.main-page-logo-mobile {
  display: none;
}

.main-page-blur-effect {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 700px;
  height: 505px;
  background: rgba(200, 39, 42, 0.4);
  filter: blur(196px);
  pointer-events: none;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 308px;
  z-index: 1;
}

.main-page-title {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 0.9em;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.main-page-title-mobile {
  display: none;
}

.main-page-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0;
}

.main-page-button {
  position: absolute;
  bottom: 51px;
  max-width: 330px;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-page-container {
    padding: 0 24px;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 30px;
  }

  .main-page-logo-desktop {
    display: none;
  }

  .main-page-logo-mobile {
    display: block;
    width: 48px;
    height: 42px;
    top: 24px;
    right: 24px;
  }

  .main-page-blur-effect {
    width: 350px;
    height: 250px;
  }

  .main-page-content {
    margin-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .main-page-title {
    font-size: 24px;
    line-height: 1.2967263062795003em;
    letter-spacing: -0.03em;
  }

  .main-page-title-desktop {
    display: none;
  }

  .main-page-title-mobile {
    display: inline;
  }

  .main-page-button {
    position: static;
    width: calc(100% - 60px);
    max-width: 330px;
    margin: 0 auto;
  }
}

